@tailwind base;
@tailwind components;
@tailwind utilities;


.example-container div {
  background: white;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  opacity: initial;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/InterVariable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family:Inter;
}
/* .refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */
.container{
  padding:0px 2rem 2rem 1rem;
}

